@model Bike;

<style>
    body{
        background-image: url('/wallpapers/black-carbon-fiber-in-4k-qrrlbfjhtfqljz4q.jpg');
    }
</style>


<div class="title" style="align-items: center">
    <h2> Choose your Bikes</h2>
</div>  <br>
<div style="align-items: center">
    @*Aprilia rs racingX*@
    <h5>Aprilia rs racing</h5>
    <div class="image">
        <img src="/bikes/Aprilia rs racing.jpg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        La Aprilia RS Racing incarna l'essenza della velocità e dell'eccellenza ingegneristica italiana. Con il suo design slanciato e aggressivo, questa moto
            da competizione è una dichiarazione di potenza e prestazioni senza compromessi. La sua carenatura aerodinamica e le linee affilate suggeriscono un
            andatura senza ostacoli attraverso l'aria, mentre il telaio leggero e agile offre una maneggevolezza eccezionale sulle curve più impegnative.
            Sotto il cofano, batte il cuore di un motore ad alte prestazioni, in grado di erogare una potenza esplosiva che trasforma ogni strada in un circuito da
            gara. I componenti di alta qualità e le tecnologie all'avanguardia garantiscono una risposta rapida dell'acceleratore e una guidabilità precisa,
            consentendo al pilota di sfruttare appieno il suo potenziale su strada o in pista. Il cockpit della RS Racing è progettato per offrire al pilota il
            massimo controllo, con strumentazione chiara e intuitiva e una posizione di guida che favorisce una postura sportiva ma confortevole. Ogni dettaglio,
            dalle sospensioni alla frenata, è stato ottimizzato per offrire un'esperienza di guida coinvolgente e gratificante. In sintesi, la Aprilia RS Racing
            è molto più di una semplice moto: è un'icona di prestazioni italiane, pronta a soddisfare le esigenze dei piloti più esigenti e appassionati di corse.  
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Aprilia</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Aprilia RSV 1000 R</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">SetUp</th>
                    <td>RSV 1000 R 2008</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2008</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportiva</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Displacement</th>
                    <td>997 cc</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>138 CV</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>189 kg</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Price</th>
                    <td>€14.400</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>2</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">CylindersConfiguration</th>
                    <td>V-shaped</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>Longitudinal</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">StartUp</th>
                    <td>Eletric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>-</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Distribution</th>
                    <td>Double camshaft</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div>  <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*BMW M 1000 RR*@
<div>
    <h5>BMW M 1000 RR</h5>
    <div class="image">
        <img src="/bikes/BMW M 1000 RR.jpeg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        La BMW M 1000 RR è una moto sportiva ad alte prestazioni che incarna l'essenza della tecnologia e dell'ingegneria tedesca di
        precisione. Concepita per offrire prestazioni eccezionali sia su strada che in pista, questa moto unisce potenza bruta,
        maneggevolezza agile e tecnologie all'avanguardia per un'esperienza di guida senza compromessi. Il cuore pulsante di questa
        moto è rappresentato dal suo motore ad alte prestazioni, un'unità da 999 cc che offre una potenza impressionante di 212 CV a
        14.500 rpm e una coppia massima di 113 Nm a 11.000 rpm. Grazie alla sua configurazione a quattro cilindri in linea,
        alimentazione a iniezione e distribuzione bialbero, questo motore offre una risposta immediata all'acceleratore e una spinta
        costante lungo tutto l'arco di regime. Il telaio è costruito con una trave doppia in alluminio composito, garantendo una
        rigidità ottimale e un peso contenuto per una maneggevolezza eccezionale. Le sospensioni, completamente regolabili, offrono
        un'ottima stabilità e aderenza in curva, mentre il sistema frenante ad alte prestazioni assicura una decelerazione potente e
        progressiva. La BMW M 1000 RR è dotata di tecnologie all'avanguardia, tra cui controllo della trazione, ride-by-wire, mappe
        motore selezionabili e ABS, che consentono al pilota di adattare le prestazioni della moto alle proprie preferenze e alle
        condizioni di guida. Il design aggressivo e aerodinamico, arricchito dalla livrea distintiva e dai dettagli di alta qualità,
        conferisce alla moto una presenza visiva impressionante su strada e in pista. In conclusione, la BMW M 1000 RR rappresenta il
        connubio perfetto tra prestazioni eccezionali, tecnologie all'avanguardia e design mozzafiato, offrendo un'esperienza di guida
        emozionante e coinvolgente per gli appassionati di moto sportive di alto livello.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>BMW</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>M 1000 RR</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">SetUp</th>
                    <td>M 1000 RR (2020 - 24)t</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2020</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Displacement</th>
                    <td>999 cc</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>212 CV - 156 kW - 14.500 rpm</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>170 kg</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Price</th>
                    <td>€33.950</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>999 cc</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>Transverse</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid-cooled</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">StartUp</th>
                    <td>Electric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>Multidisc</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Distribution</th>
                    <td>Twin camshaft</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div>  <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Ducati Desmosedici 2024*@
<div>
    <h5>Ducati Desmosedici 2024</h5>
    <div class="image">
        <img src="/bikes/Ducati Desmosedici 2024.jpeg"  width="1116" height="600">
    </div> 
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        La Ducati Desmosedici 2024 è l'ultima evoluzione di un'epica eredità nel mondo delle corse. Nata dalla passione e dall'ingegneria
        senza compromessi di Ducati Corse, questa moto da competizione incarna la massima espressione della tecnologia e delle prestazioni
        su due ruote. Il suo design aggressivo e futuristico cattura l'attenzione con linee affilate e una carenatura aerodinamica che
        suggerisce una potenza incontenibile. Ogni curva e ogni dettaglio sono stati ottimizzati per massimizzare l'efficienza aerodinamica
        e la stabilità ad alta velocità, mentre il telaio leggero e robusto offre una maneggevolezza senza rivali. Il cuore pulsante di questa
        macchina da corsa è il suo motore Desmosedici, un'opera d'arte ingegneristica che offre una potenza straordinaria e una risposta
        immediata all'acceleratore. Ogni componente è stato progettato per resistere alle condizioni più estreme delle piste da corsa, offrendo
        al pilota un controllo totale su ogni centimetro della strada.Il cockpit della Ducati Desmosedici 2024 è un'espressione di pura
        funzionalità, con strumentazione avanzata e controlli intuitivi che consentono al pilota di concentrarsi esclusivamente sulla guida.
        Le sospensioni regolabili e i freni ad alte prestazioni garantiscono un'aderenza ottimale e una frenata potente, consentendo al pilota
        di esplorare i limiti della sua abilità su ogni tracciato.In sintesi, la Ducati Desmosedici 2024 è molto più di una moto da corsa: è un
        simbolo di prestigio e dominio tecnologico, pronta a portare il suo pilota verso la vittoria in ogni competizione.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Ducati</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Ducati</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">SetUp</th>
                    <td>Ducati Desmosedici 2024</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2024</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Displacement</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>250 cv</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>157kg</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Price</th>
                    <td>5.000.000</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>1.000 cc</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">StartUp</th>
                    <td>Electric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Distribution</th>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div>  <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Ducati Gresini racing*@
<div>
    <h5>Ducati Gresini racing</h5>
    <div class="image">
        <img src="/bikes/Ducati Gresini racing.jpg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        La Ducati Gresini Racing è una superba incarnazione di potenza, eleganza e prestazioni. Frutto della collaborazione tra Ducati, un'icona nel mondo
        delle moto ad alte prestazioni, e il team Gresini Racing, rinomato per la sua competenza e dedizione alle corse, questa moto è destinata a dominare
        i circuiti di tutto il mondo. Il suo design esclusivo riflette l'eredità vincente di entrambi i marchi, con una carenatura aerodinamica che incarna
        la fusione tra stile e funzionalità. Ogni dettaglio è stato curato con precisione, dalle linee dinamiche alla colorazione distintiva, creando un'
        immagine che evoca potenza e agilità. Sotto la carenatura, la Ducati Gresini Racing ospita un motore che emana una potenza impressionante, pronto a
        sfrecciare lungo le rettilinee e a sfidare le curve con fiducia. La tecnologia di punta e l'ingegneria sofisticata assicurano una risposta pronta
        all'acceleratore e una distribuzione di potenza fluida, offrendo al pilota un'esperienza di guida senza precedenti. Il telaio leggero e maneggevole
        offre una stabilità eccezionale e una manovrabilità precisa, consentendo al pilota di affrontare ogni curva con sicurezza e controllo. Le sospensioni
        regolabili e i freni di alta qualità completano il pacchetto, offrendo prestazioni impeccabili su ogni tracciato. Nel complesso, la Ducati Gresini
        Racing è molto più di una semplice moto da corsa: è un simbolo di eccellenza e determinazione, pronta a portare il suo pilota verso la gloria in ogni gara.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Ducati</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Ducati</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">SetUp</th>
                    <td>Ducati Gresini racing</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2024</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Displacement</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>250 cv</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>157kg</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Price</th>
                    <td>5.000.000</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>1.000 cc</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">StartUp</th>
                    <td>Electric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Distribution</th>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div>  <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Ducati Pramac*@
<div>
    <h5>Ducati Pramac</h5>
    <div class="image">
        <img src="/bikes/Ducati Pramac.jpeg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        La Ducati Pramac è una creazione che unisce la potenza e l'eleganza italiana con la determinazione e la competenza del team
        Pramac Racing. Frutto della collaborazione tra due icone del mondo delle corse, questa moto incarna lo spirito dell'innovazione
        e della prestazione ad alto livello. Il suo design è un connubio di forme sinuose e linee aggressive, che catturano l'attenzione
        e suggeriscono una velocità inarrestabile. La carenatura aerodinamica è progettata per massimizzare l'efficienza e la stabilità
        ad alta velocità, mentre i dettagli rifiniti con cura aggiungono un tocco di raffinatezza. Sotto la superficie, la Ducati Pramac
        ospita un motore che emana una potenza straordinaria, pronto a rispondere con prontezza ad ogni richiamo dell'acceleratore. La
        sua erogazione di coppia e potenza è bilanciata per offrire un'esperienza di guida emozionante e gratificante. Il telaio è costruito
        per offrire una maneggevolezza precisa e una stabilità eccezionale, consentendo al pilota di affrontare le curve con fiducia e
        sicurezza. Le sospensioni regolabili e i freni di alta qualità completano il pacchetto, garantendo prestazioni impeccabili su
        qualsiasi tipo di tracciato. In sintesi, la Ducati Pramac è molto più di una semplice moto da corsa: è un simbolo di determinazione,
        prestigio e passione, pronta a portare il suo pilota verso la gloria in ogni competizione.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Ducati</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Ducati</td>
                </tr>
                <tr class="table-info">
                    <th scope="row">SetUp</th>
                    <td>Ducati Pramac</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2024</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-info">
                    <th scope="row">Displacement</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>250 cv</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>157kg</td>
                </tr>
                <tr class="table-info">
                    <th scope="row">Price</th>
                    <td>5.000.000</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>1.000 cc</td>
                </tr>
                <tr class="table-info">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-info">
                    <th scope="row">StartUp</th>
                    <td>Electric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-info">
                    <th scope="row">Distribution</th>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div> <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Honda rc213v hrc*@
<div>
    <h5>Honda rc213v hrc</h5>
    <div class="image">
        <img src="/bikes/Honda rc213v hrc.jpg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        La Honda Livery for MotoGP 2024 è una moto da corsa progettata e sviluppata appositamente per competere nel Campionato del
        Mondo MotoGP nella stagione 2024. Presenta un design aggressivo e aerodinamico, ottimizzato per massimizzare la velocità e
        la maneggevolezza in pista. La moto è alimentata da un potente motore ad alte prestazioni, con una cilindrata e una potenza
        specifiche conformi ai regolamenti del campionato. Il telaio è leggero e robusto, offrendo una combinazione ideale di rigidità
        e flessibilità per consentire al pilota di ottenere il massimo controllo e adattarsi alle varie condizioni di guida.
        Grazie alla sua tecnologia all'avanguardia, la Honda Livery for MotoGP 2024 è dotata di sistemi avanzati di controllo della
        trazione, gestione del motore e frenata, che consentono al pilota di massimizzare le prestazioni in ogni situazione. La
        sospensione è altamente regolabile e offre un'eccezionale capacità di assorbire le irregolarità della pista, garantendo un
        'ottima aderenza e stabilità. La moto presenta una livrea distintiva e accattivante, con i colori e i loghi del team Honda
        Racing, che riflettono l'energia e la determinazione della squadra a competere al massimo livello. Ogni dettaglio è stato
        attentamente progettato e ottimizzato per garantire prestazioni superiori e una presenza visiva impressionante in pista.
        In sintesi, la Honda Livery for MotoGP 2024 rappresenta l'incarnazione dell'ingegneria di precisione e dell'innovazione
        tecnologica nel mondo delle corse motociclistiche, pronta a sfidare i limiti e conquistare la gloria nelle mani di piloti
        talentuosi e determinati.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Honda</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Honda</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">SetUp</th>
                    <td>Honda rc213v hrc</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2023</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Displacement</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>230 cv</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>157 kg</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Price</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>1000 cc</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid-cooled</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">StartUp</th>
                    <td>CDI (Capacitor Discharge Ignition)</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Distribution</th>
                    <td>DOHC 4 valves per cylinder</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div> <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Honda rc213v motogp lrc*@
<div>
    <h5>Honda rc213v motogp lrc</h5>
    <div class="image">
        <img src="/bikes/Honda rc213v motogp lrc.jpeg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        La Honda RC213V MotoGP LRC è una motocicletta da corsa di élite, progettata e sviluppata da Honda Racing Corporation (HRC) per dominare il palcoscenico
            del MotoGP. Questa macchina da competizione incarna l'apice dell'ingegneria motociclistica e la determinazione a vincere ad ogni costo. Il suo design è
            una fusione di forma e funzione, con una carenatura aerodinamica che taglia l'aria con eleganza e aggressività. Ogni aspetto è stato ottimizzato per
            massimizzare la stabilità ad alta velocità e l'efficienza aerodinamica, mentre il telaio leggero e resistente offre una maneggevolezza eccezionale su
            ogni tipo di percorso. Sotto il cofano, la RC213V MotoGP LRC ospita un motore da corsa ad alte prestazioni, progettato per erogare una potenza esplosiva
            e una risposta immediata all'acceleratore. L'erogazione di coppia è stata finemente calibrata per offrire una spinta costante fuori dalle curve e una
            velocità massima sorprendente sulle rettilinee. Il cockpit è un ambiente di controllo totale per il pilota, con un layout ergonomico e una strumentazione
            avanzata che permette di monitorare ogni aspetto delle prestazioni della moto. Le sospensioni e i freni sono stati progettati per garantire un'aderenza
            ottimale e una frenata potente, consentendo al pilota di spingere al massimo ogni volta che sale in sella. In sintesi, la Honda RC213V MotoGP LRC è una
            manifestazione della dedizione di Honda alla ricerca della perfezione nelle corse motociclistiche. È più di una semplice moto da corsa; è un'icona di
            prestazioni e successo nel mondo del MotoGP, pronta a scrivere nuove pagine di gloria ad ogni gara.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Honda</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Honda</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">SetUp</th>
                    <td>Honda rc213v motogp lrc</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2014</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Displacement</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>240 CV</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>157</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Price</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>1000 cc</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">StartUp</th>
                    <td>Eletric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Distribution</th>
                    <td>DOHC 4 valves per cylindert</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div> <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Honda RC213V racing*@
<div>
    <h5>Honda RC213V racing</h5>
    <div class="image">
        <img src="/bikes/Honda RC213V racing.jpg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        La Honda RC213V Racing è la quintessenza della competizione motociclistica, un simbolo di prestazioni estreme e ingegneria all'avanguardia. Progettata
            e sviluppata da Honda Racing Corporation (HRC), questa moto incarna la determinazione di dominare le piste di corsa in tutto il mondo. Il suo design è
            una combinazione di forma e funzione, con una carenatura aerodinamica che sfida l'aria con grinta e precisione. Ogni aspetto è stato ottimizzato per
            massimizzare la stabilità ad alta velocità e l'efficienza aerodinamica, mentre il telaio leggero e robusto offre una maneggevolezza senza pari su ogni
            tipo di circuito. Sotto il cofano, la RC213V Racing ospita un motore da corsa ad alte prestazioni, progettato per offrire una potenza impressionante e
            una risposta istantanea all'acceleratore. L'erogazione di coppia è stata finemente calibrata  Il cockpit è un ambiente di controllo totale per il pilota,
            con un layout ergonomico e una strumentazione avanzata che consente di monitorare ogni aspetto delle prestazioni della moto. Le sospensioni e i freni
            sono stati progettati per garantire un'aderenza ottimale e una frenata potente, consentendo al pilota di spingere al massimo ad ogni curva.
         In sintesi, la Honda RC213V Racing è molto più di una semplice moto da corsa: è una macchina da guerra delle corse, pronta a portare il suo pilota alla
         vittoria in ogni competizione. È l'incarnazione della passione, della tecnologia e dell'impegno di Honda nel mondo delle corse motociclistiche.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Honda</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Honda</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">SetUp</th>
                    <td>Honda RC213V racing</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2020</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Displacement</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>240 CV</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>157</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Price</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>1000 cc</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">StartUp</th>
                    <td>Eletric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Distribution</th>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div> <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Kawasaki Ninja zx10r*@
<div>
    <h5>Kawasaki Ninja zx10r</h5>
    <div class="image">
        <img src="/bikes/Kawasaki Ninja zx10r.jpg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        La Kawasaki Ninja ZX10R è una superbike di pura potenza e prestazioni, progettata per portare l'emozione delle corse su strada.
        Con la sua combinazione di tecnologia avanzata e design aggressivo, questa moto incarna l'eredità vincente di Kawasaki nel mondo
        delle competizioni su pista. Il suo design è caratterizzato da linee affilate e dinamiche, con una carenatura aerodinamica che
        cattura l'attenzione e suggerisce una velocità inarrestabile. Ogni aspetto è stato ottimizzato per massimizzare l'efficienza
        aerodinamica e la stabilità ad alta velocità, garantendo al pilota una sensazione di controllo totale in ogni condizione.
        Sotto il cofano, la Ninja ZX10R ospita un motore da corsa ad alte prestazioni, in grado di erogare una potenza esplosiva e una
        coppia impressionante. L'erogazione di potenza è lineare e controllabile, offrendo al pilota una spinta costante in ogni fase
        dell'accelerazione. Il telaio leggero e agile offre una maneggevolezza eccezionale, consentendo al pilota di affrontare le curve
        con sicurezza e precisione. Le sospensioni regolabili e i freni ad alte prestazioni completano il pacchetto, garantendo una guida
        fluida e reattiva su ogni tipo di percorso. Il cockpit della Ninja ZX10R è un rifugio per il pilota, con un layout ergonomico e una
        strumentazione avanzata che offre un feedback immediato sulle prestazioni della moto. Ogni dettaglio è stato progettato
        permassimizzare il comfort e il controllo, consentendo al pilota di concentrarsi esclusivamente sulla guida. In sintesi, la Kawasaki
        Ninja ZX10R è molto più di una semplice moto da corsa: è un'icona di prestazioni e stile nel mondo delle superbike, pronta a offrire
        un'esperienza di guida emozionante e coinvolgente ad ogni appassionato di motociclismo.
    </div> 
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Kawasaki</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Kawasaki</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">SetUp</th>
                    <td>Kawasaki Ninja zx10r</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2019</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Displacement</th>
                    <td>Column content</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>203 CV</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>207 kg</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Price</th>
                    <td>€21.590</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>998 cc</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">StartUp</th>
                    <td>Eletric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Distribution</th>
                    <td>DOHC 16 per valves</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div>  <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*kawasaki xr10r*@
<div>
    <h5>kawasaki xr10r</h5>
    <div class="image">
        <img src="/bikes/kawasaki xr10r.jpeg"  width="1116" height="600">
    </div> 
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        La Kawasaki ZX-10R è una superbike ad alte prestazioni che incarna l'essenza dell'agilità e della potenza brutale. Con il suo
        design aggressivo e la tecnologia avanzata, questa moto è stata progettata per dominare le competizioni su pista e offrire un'
        esperienza di guida emozionante su strada. Il suo design è caratterizzato da linee affilate e una carenatura aerodinamica che
        cattura l'attenzione e suggerisce una velocità impressionante. Ogni aspetto è stato ottimizzato per massimizzare l'efficienza
        aerodinamica e garantire una stabilità impeccabile ad alte velocità. Sotto il cofano, la ZX-10R ospita un motore da corsa ad
        alte prestazioni, progettato per erogare una potenza esplosiva e una coppia impressionante. L'erogazione di potenza è lineare
        e controllabile, offrendo al pilota una spinta costante in ogni fase dell'accelerazione Il telaio leggero e agile offre una
        maneggevolezza eccezionale, consentendo al pilota di affrontare le curve con sicurezza e precisione. Le sospensioni regolabili
        e i freni ad alte prestazioni completano il pacchetto, garantendo una guida fluida e reattiva su ogni tipo di percorso.
        Il cockpit della ZX-10R è stato progettato con l'attenzione ai dettagli, offrendo al pilota un ambiente di controllo totale. La
        strumentazione avanzata fornisce informazioni cruciali sulle prestazioni della moto, consentendo al pilota di ottimizzare la propria
        guida ad ogni curva. In sintesi, la Kawasaki ZX-10R è una superbike che combina potenza, agilità e tecnologia all'avanguardia per
        offrire un'esperienza di guida emozionante e coinvolgente a chiunque abbia il privilegio di salirci sopra.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Kawasaki</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Kawasaki</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">SetUp</th>
                    <td>kawasaki xr10r</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2024</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportiva</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Displacement</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>203 CV</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>207Kg</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Price</th>
                    <td>€21.590</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>998 cc</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">StartUp</th>
                    <td>Electric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Distribution</th>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div>  <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*KTM-RC16*@
<div>
    <h5>KTM-RC16</h5>
    <div class="image">
        <img src="/bikes/KTM-RC16.jpg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        La KTM RC16 è una moto da competizione ad alte prestazioni progettata per dominare le piste del campionato del mondo MotoGP.
        Frutto dell'ingegneria avanzata e dell'esperienza accumulata nei circuiti più impegnativi del mondo, questa moto incarna
        l'impegno di KTM per l'eccellenza nelle corse su due ruote. Il suo design è una testimonianza della determinazione di KTM a
        spingersi oltre i limiti, con una carenatura aerodinamica che sfida l'aria con aggressività e precisione. Ogni dettaglio è
        stato ottimizzato per massimizzare l'efficienza aerodinamica e la stabilità ad alta velocità, garantendo prestazioni superiori
        su ogni tracciato. Sotto il cofano, la RC16 ospita un motore da corsa ad alta tecnologia, progettato per erogare una potenza
        esplosiva e una coppia impressionante. L'erogazione di potenza è lineare e controllabile, offrendo al pilota una spinta costante
        in ogni fase dell'accelerazione. Il telaio leggero e agile offre una maneggevolezza eccezionale, consentendo al pilota di
        affrontare le curve con sicurezza e precisione. Le sospensioni regolabili e i freni ad alte prestazioni completano il pacchetto,
        garantendo una guida fluida e reattiva su ogni tipo di percorso. Il cockpit della RC16 è un ambiente di controllo totale per il
        pilota, con una strumentazione avanzata e controlli intuitivi che consentono una perfetta sintonia con la moto. Ogni dettaglio
        è stato progettato per massimizzare il comfort e il controllo, consentendo al pilota di concentrarsi esclusivamente sulla guida.
        In sintesi, la KTM RC16 è molto più di una semplice moto da corsa: è un'opera d'arte tecnologica e un simbolo di prestigio nel mondo
        delle competizioni su due ruote, pronta a portare il suo pilota verso la vittoria in ogni gara.  
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>KTM</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>KTM</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">SetUp</th>
                    <td>KTM-RC16</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2016</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportiva</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Displacement</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>265 cv</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>157kg</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Price</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>1000 cc</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">StartUp</th>
                    <td>computerized CDI</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Distribution</th>
                    <td>DOHC 4 valves per cylinder</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div>  <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*MvAugustaf4 racing*@
<div>
    <h5>MvAugustaf4 racing</h5>
    <div class="image">
        <img src="/bikes/MvAugustaf4 racing.jpeg"  width="1116" height="600">
    </div> 
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        La MV Agusta F4 Racing è un'opera d'arte su due ruote, un simbolo di prestigio e potenza nel mondo delle corse motociclistiche.
        Progettata e costruita con cura artigianale, questa moto incarna l'eredità vincente di MV Agusta e la passione per l'eccellenza
        tecnologica e stilistica. Il suo design è un connubio di eleganza e aggressività, con una carenatura aerodinamica che incanta lo
        sguardo e suggerisce una velocità inarrestabile. Ogni curva e ogni dettaglio sono stati modellati per massimizzare l'efficienza
        aerodinamica e garantire una stabilità impeccabile ad alte velocità. Sotto il cofano, la F4 Racing ospita un motore ad alte
        prestazioni, progettato per erogare una potenza esplosiva e una coppia impressionante. L'erogazione di potenza è lineare e
        controllabile, offrendo al pilota una spinta costante in ogni situazione di guida. Il telaio è stato progettato per offrire una
        maneggevolezza eccezionale e una stabilità superiore, consentendo al pilota di affrontare le curve con sicurezza e precisione.
        Le sospensioni regolabili e i freni ad alte prestazioni completano il pacchetto, garantendo una guida fluida e reattiva su ogni
        tipo di percorso. Il cockpit della F4 Racing è un ambiente di controllo totale per il pilota, con una strumentazione avanzata e
        un layout ergonomico che permette una perfetta sintonia con la moto. Ogni dettaglio è stato pensato per massimizzare il comfort
        e il controllo, consentendo al pilota di concentrarsi completamente sulla guida. In sintesi, la MV Agusta F4 Racing è una moto
        da sogno che va oltre le aspettative, unendo prestazioni di livello mondiale con un'estetica mozzafiato. È un'esperienza di guida
        unica e coinvolgente, pronta a portare il suo pilota al successo in ogni competizione.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Mv</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Mv</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">SetUp</th>
                    <td>MvAugustaf4 racing</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2019-2020</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Displacement</th>
                    <td>998 cc</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>212 CV</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>183 kg</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Price</th>
                    <td>€40.900</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>4</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>Trasversal</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">StartUp</th>
                    <td>Eletric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>Multidisc</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Distribution</th>
                    <td>Double-tree</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div> <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Suzuki GSX-R1000 Racing*@
<div>
    <h5>Suzuki GSX-R1000 Racing</h5>
    <div class="image">
        <img src="/bikes/Suzuki GSX-R1000 Racing.jpg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        La Suzuki GSX-R1000 Racing è una superbike nata per dominare i circuiti di tutto il mondo, un'icona di potenza e prestazioni
        nel mondo delle corse motociclistiche. Progettata e sviluppata con l'esperienza acquisita nelle competizioni più impegnative,
        questa moto incarna l'essenza della velocità e della maneggevolezza. Il suo design è un mix di forma e funzione, con una
        carenatura aggressiva che incanta lo sguardo e suggerisce una velocità inarrestabile. Ogni dettaglio è stato ottimizzato per
        massimizzare l'efficienza aerodinamica e garantire una stabilità impeccabile ad alte velocità, permettendo al pilota di
        spingere al massimo senza compromessi. Sotto il cofano, la GSX-R1000 Racing ospita un motore ad alte prestazioni, progettato
        per offrire una potenza esplosiva e una risposta immediata all'acceleratore. L'erogazione di potenza è lineare e controllabile,
        permettendo al pilota di gestire con precisione ogni situazione di guida. Il telaio leggero e agile offre una maneggevolezza
        eccezionale, consentendo al pilota di affrontare le curve con sicurezza e precisione. Le sospensioni regolabili e i freni ad
        alte prestazioni completano il pacchetto, garantendo una guida fluida e reattiva su ogni tipo di percorso. Il cockpit della
        GSX-R1000 Racing è un ambiente di controllo totale per il pilota, con una strumentazione avanzata e un layout ergonomico che
        permette una perfetta sintonia con la moto. Ogni dettaglio è stato progettato per massimizzare il comfort e il controllo,
        consentendo al pilota di concentrarsi esclusivamente sulla guida. In sintesi, la Suzuki GSX-R1000 Racing è molto più di una
        semplice moto da corsa: è una macchina da guerra delle corse, pronta a portare il suo pilota alla vittoria in ogni competizione.
        È l'incarnazione della passione, della tecnologia e dell'impegno di Suzuki nel mondo delle corse motociclistiche.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Suzuki</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Suzuki</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">SetUp</th>
                    <td>Suzuki GSX-R1000 Racing</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2019-2020</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">Displacement</th>
                    <td>999,8 cc</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>202 CV</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>203 kg</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">Price</th>
                    <td>€19.290</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>4</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>Trasversal</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">StartUp</th>
                    <td>Eletric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>Multidisc</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">Distribution</th>
                    <td>Double-tree</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div> <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Yamaha YZR-M1*@
<div>
    <h5>Yamaha YZR-M1</h5>
    <div class="image">
        <img src="/bikes/Yamaha YZR-M1.jpg"  width="1116" height="600">
    </div> 
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        La Yamaha YZR-M1 è una moto da corsa che incarna l'apice dell'ingegneria motociclistica e il prestigio delle competizioni nel
        motomondiale MotoGP. Progettata e sviluppata con l'esperienza acquisita nei circuiti più impegnativi del mondo, questa moto è
        sinonimo di potenza, agilità e tecnologia all'avanguardia. Il suo design è un connubio di eleganza e aggressività, con una
        carenatura aerodinamica che incanta lo sguardo e suggerisce una velocità inarrestabile. Ogni dettaglio è stato ottimizzato per
        massimizzare l'efficienza aerodinamica e garantire una stabilità impeccabile ad alte velocità, permettendo al pilota di spingere
        al massimo senza compromessi. Sotto il cofano, la YZR-M1 ospita un motore ad alte prestazioni, progettato per offrire una potenza
        esplosiva e una risposta immediata all'acceleratore. L'erogazione di potenza è lineare e controllabile, permettendo al pilota di
        gestire con precisione ogni situazione di guida. Il telaio leggero e agile offre una maneggevolezza eccezionale, consentendo al
        pilota di affrontare le curve con sicurezza e precisione. Le sospensioni regolabili e i freni ad alte prestazioni completano il
        pacchetto, garantendo una guida fluida e reattiva su ogni tipo di percorso. Il cockpit della YZR-M1 è un ambiente di controllo
        totale per il pilota, con una strumentazione avanzata e un layout ergonomico che permette una perfetta sintonia con la moto. Ogni
        dettaglio è stato progettato per massimizzare il comfort e il controllo, consentendo al pilota di concentrarsi esclusivamente
        sulla guida. In sintesi, la Yamaha YZR-M1 è molto più di una semplice moto da corsa: è un'icona delle competizioni nel motomondiale,
        pronta a portare il suo pilota alla vittoria in ogni gara. È l'incarnazione della passione, della tecnologia e dell'impegno di
        Yamaha nel mondo delle corse motociclistiche.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Yamaha</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Yamaha</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">SetUp</th>
                    <td>Yamaha YZR-M1</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2011</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">Displacement</th>
                    <td>?</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>200 CV</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>157kg</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">Price</th>
                    <td>?</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>4</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>Trasversal</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">StartUp</th>
                    <td>Eletric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">Distribution</th>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div>
</div>