@model User;

<style>
    body{
        background-image: url('/wallpapers/ConfrirmWallpaper.jpeg');
    }
</style>

<div>
    <div>
        <title>Confirm</title>
    </div>
    <br>
    <br>
    <div style=" background-color: rgba(57, 57, 57, 0.634); border-radius:10px"> 
        <br>
        <br>
        <h3 class="text-success" style="text-align: center;"> <strong>You logged Succesfully!</strong></h3>
        <br>
        <br>
    </div>
</div>