@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<header>
<h4>Informativa sulla privacy</h4>

<p>Questa Informativa sulla privacy descrive come Sgommate&co raccoglie, utilizza e protegge le informazioni che ci fornisci quando utilizzi il nostro sito web e i nostri servizi correlati.</p>

<h5>Raccolta delle informazioni</h5>
<p>Raccogliamo le seguenti tipologie di informazioni personali quando utilizzi il nostro sito web e i nostri servizi:</p>
<ol>
<li><strong>Informazioni fornite volontariamente:</strong> Quando ti registri per un account, prenoti un noleggio, o interagisci con il nostro sito, potremmo raccogliere informazioni personali come il tuo nome, il tuo cognome, indirizzo email e informazioni di pagamento.</li>
<li><strong>Informazioni raccolte automaticamente:</strong> Utilizziamo tecnologie come i cookie per raccogliere automaticamente informazioni sul tuo dispositivo e sulle tue attività sul nostro sito web.</li>
</ol>

<h5>Utilizzo delle informazioni</h5>
<p>Utilizziamo le informazioni personali raccolte per i seguenti scopi:</p>
<ol>
<li><strong>Fornire i nostri servizi:</strong> Utilizziamo le tue informazioni per gestire i tuoi noleggi, processare i pagamenti e fornirti assistenza clienti.</li>
<li><strong>Comunicazioni:</strong> Possiamo utilizzare le tue informazioni per inviarti comunicazioni relative ai tuoi noleggi, aggiornamenti sui nostri servizi o promozioni speciali.</li>
<li><strong>Personalizzazione dell'esperienza:</strong> Utilizziamo le informazioni raccolte per personalizzare e migliorare la tua esperienza sul nostro sito web, mostrandoti contenuti e offerte pertinenti.</li>
</ol>

<h5>Condivisione delle informazioni</h5>
<p>Non condividiamo le tue informazioni personali con terze parti, tranne che nei seguenti casi:</p>
<ol>
<li><strong>Partner di servizio:</strong> Possiamo condividere le tue informazioni con terze parti che forniscono servizi per conto nostro, come processatori di pagamento o fornitori di servizi di spedizione.</li>
<li><strong>Conformità legale:</strong> Possiamo divulgare le tue informazioni personali se richiesto dalla legge o se riteniamo in buona fede che tale azione sia necessaria per conformarci a una procedura legale o per proteggere i diritti, la proprietà o la sicurezza di [Nome della tua azienda] o di altri.</li>
</ol>

<h5>Protezione delle informazioni</h5>
<p>Adottiamo misure di sicurezza adeguate per proteggere le tue informazioni personali da accessi non autorizzati, modifiche o divulgazioni. Tuttavia, non possiamo garantire la sicurezza assoluta delle informazioni trasmesse tramite internet.</p>

<h5>Modifiche all'informativa sulla privacy</h5>
<p>Ci riserviamo il diritto di aggiornare periodicamente questa Informativa sulla privacy per riflettere eventuali cambiamenti nelle nostre pratiche di raccolta e gestione delle informazioni. Ti incoraggiamo a rivedere regolarmente questa pagina per rimanere informato su come proteggiamo le tue informazioni.</p>

<h5>Contattaci</h5>
<p>Se hai domande o preoccupazioni riguardo a questa Informativa sulla privacy, contattaci all'indirizzo sgomatta&co@gmail,com o utilizzando le informazioni di contatto sul nostro sito web.</p>

<p>Ultimo aggiornamento: 21/03/2024</p>